<div class="page-wrapper">
	<div class="banner">
    <h1>Student Engineers' Council</h1>
    <h4>Budget Request and Reimbursement</h4>
  </div>
   		
    <div class="container">
      <div class="info-card">
        <h1 class="welcome">Welcome!</h1>
        <h3 class="info">This website serves as a budget reimbursement system for the Student Engineers' Council SEC.</h3>
      </div>

      <div class="img-card">
        <%= image_tag "LogoFull_Maroon.png", {:class => "logo"} %>
      </div>
    </div>
   	
</div>