<div>
	<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Student Engineers' Council</h1>
    <h4 class="mb-3">Budget Request and Reimbursement</h4>
  </div>
    <div class="text-center">
   	<h1>
   		
   	</h1>
    <%= image_tag "LogoFull_Maroon.webp", height: 300 %>
    <h1>

    <h1 class="mb-3">Welcome!</h1>
    <h3>This website serves as a budget request and reimbursement system for the Student Engineers' Council SEC.</h3>
   	
</div>
