<div class="page-wrapper">
	
	<div class="login-banner">
		<h1 class="mb-3">Student Engineers' Council</h1>
		<h4 class="mb-3">Budget Reimbursement System</h4>
	</div>

	<p id="notice"><%= notice %></p>
			
	<div class="login-container">
		<div class="img-card">
			<%= image_tag "LogoFull_Maroon.png", {:class => "logo"} %>
		</div>
		<div class="info-card">
			<%= button_to 'Login with Google Account', '/auth/google_oauth2', method: :post, class: 'button' %>
		</div>
	</div>
</div>

