<div class="page-wrapper">
    <div class="banner">
        <h1>New Budget</h1>
    </div>

    <%= render 'form', budget: @budget %>

    <div class ="card-stack">
        <%= link_to 'Back', budgets_path, {:class => "button"} %>
    </div>
</div>
