<div class="page-wrapper">  
    <div class="banner">
        <h1>New Budget Category</h1>
    </div>

    <%= render 'form', budget_category: @budget_category %>

    <div class = "card-stack">
        <%= link_to 'Back', :back, {:class => "button"} %>
    </div>
</div>
