<div class='page-wrapper'>
    <div class='banner'>
        <h1>New Atc</h1>
    </div>

    <%= render 'form', atc: @atc %>

    <div class='card-stack'>
        <%= link_to 'Back', atcs_path(session[:user_id]) %>
    </div>
</div>