<div class="page-wrapper">
    <div class="banner">
        <h1>New Vendor</h1>
    </div>

    <%= render 'form', vendor: @vendor %>

    <div class="card-stack">
        <%= link_to 'Back', vendors_path, {:class => "button"} %>
    </div>
</div>