/* commented out styles are from default settings */

body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: "Open Sans", sans-serif; }

.banner {
  background-color: orange;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
}

.login-banner {
  background-color: orange;
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.headRow {
    background-color: dodgerblue;
    color: white;
    font-weight: 300;
}

p {
    font-size: 20px;
}

table {
    font-size: 20px;
}

.strongRow {
    background-color: navy;
    color: white;
}

th {
    padding-right: 1em;
}

td {
  padding-right: 1em;
}

td.noSpace {
  padding-right: 0px;
}

tr.normalRow:nth-child(odd) {
    background-color: #bebef0;
}

tr.normalRow:nth-child(even) {
    background-color: #D8D8F3;
}

.crudButton {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 3px;
  outline: darkgrey;
  border-radius: 10px;
  text-decoration: none;
  background-color: white;
  color: black;
}

.crudButton:hover {
  outline: white;
  background-color: lightgrey;
  color: black;
}

.button {
  text-decoration: none;
  background-color: dodgerblue;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px;
}

.button:hover {
  text-decoration: none;
  background-color: navy;
  font-size: 20px;;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px;
}

.page-wrapper {
  margin:0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.card-stack {
  padding-left: 4em;
  padding-right: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  margin-bottom: 50px;
  width: 100%;
  float: left;
}

.card {
  margin: 10px;
  vertical-align: middle;
  margin-top: 50px;
  border-radius: 15px;
  padding: 15px;
}

.field {
  margin-top: 3px;
  font-size: 20px;
}

.actions {
  margin-top: 3px;
  font-size: 20px;
}

.banner-button {
  text-decoration: none;
  background-color: white;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  outline: 1px darkgray solid;
  color: darkgrey;
  padding: 10px;
  margin: 10px;
  width: 70%;
}

.banner-button:hover {
  text-decoration: none;
  background-color: navy;
  outline: 1px navy solid;
  font-size: 40px;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 10px;
  width: 70%;
}

.banner-stack {
  margin-top: 1em;
  padding-left: 4em;
  padding-right: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  margin-bottom: 50px;
  width: 100%;
  float: left;
}

.login-container {
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  height: auto;
  margin-top: 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: scroll;
  margin-bottom: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  height: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

@media (max-width: 1170px) {
  .container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      overflow: scroll;
      margin-bottom: 0px;
  }
}

.img-card {
  background-color: navy;
  border-radius: 30px;
  margin-top: 50px;
  padding: 2em;
  text-align: center;
  flex: 1;
}

.info-card {
  padding-left: 2em;
  padding-right: 2em;
  flex: 1;
}

.google-button {
  width: 300px;
  text-decoration: none;
  background-color: dodgerblue;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px;
}

.google-button:hover {
  text-decoration: none;
  background-color: navy;
  font-size: 20px;;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px;
}

.logo img {
  display: block;
  object-fit: contain;
  max-width: 100%;
}

.welcome {
  color: darkgray;
  font-size: 6vw;
}

.info {
  color: darkgray;
  font-size: 3vw;
  font-weight: lighter;
}

#notice {
  padding: 20px;
  background-color: rgb(255, 179, 39); /* Red */
  color: white;
  margin: 0px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

/*
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
*/
